body{
	background: #414149;
	font-family: 'Lora', serif;
	font-size: 16px;
	text-decoration: none;
}



/*Header*/



header 
{
	background: #97d3d2;
	color:black;
	display: flex;
	justify-content:space-around;
	align-items:center;
	padding: 0.3em 0.3em 0.3em 0.3em;

}
	header .logo
	{
		border:2px solid red;
		width:20%;
		height:70px;
		padding:0px;
		margin:0em;
	}
		header .logo img
		{
			width:70px;
			border-radius: 50%
			
		}

	header .header__titsubtit
	{
		border: 2px solid red;
		width:60%;
		margin:0px;
		padding:0px;
		
	}
		header h1
		{
			font-family: Courier;
			
			font-weight: normal;
		
		}
		header h3
		{
			font-family: Courier;
			
			font-style: italic;
		}
	
	
	header .avatar
	{
		justify-content: center;
		border:2px solid red;
		width:20%;
		height:60px;
		padding:0px;
		margin:0px;

		
	}
		header .avatar img
		{
			width:60px;
			border-radius: 50%;
			
		}
	


/*Navegador de Pagina*/



nav{
	background: #333366;
	padding:  0.5em;
	position: relative;
}
	nav ul
	{
		list-style: none;
		margin:0;
		padding:0;
	}
	nav ul li
		{
			display: inline-block;
			margin: 0 1em 0 0;
		}
	nav ul li a
	{
		color:#94f0f6;
		display block;
		padding:0.5em 0;
		text-decoration: none;

	}
	nav ul li .signup 
	{
		background: #33cccc;
		color:#024b5d;
		border-radius: 5px;
		box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
		font-style: italic;
		padding:0.8em 0.5em;
		text-decoration:  none;
		position: absolute;
		top:-0.3em;
		right:0;
	}
